<div class="container">
  <h3>ユーザー編集</h3>
  <div class="row">
    <%= form_with model: @end_user do |f| %>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name %>
      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction %>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email 
      <%= f.submit "更新する", class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
  <div>
    <%= link_to "退会する", withdraw_confirm_path, class: "btn btn-sm btn-danger" %>
  </div>
</div>