<div class="container">
  <h3 class="mt-5">ユーザー詳細</h3>
  <div class="row mt-5">
    <div class="col-10 offset-1">
      <p>ユーザー名</p>
      <p class="pl-5"><%= @end_user.name %></p>
      <p>自己紹介</p>
      <div class="pl-5 text-break"><%= @end_user.introduction %></div>
      <div class="d-flex justify-content-end">
        <% if @end_user == current_end_user %>
          <%= link_to "編集する", edit_end_user_path(@end_user), class: "btn btn-success mt-3" %>
        <% end %>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <%= link_to "#{@end_user.name}さんの推し猫一覧へ", end_user_bookmark_cats_path(@end_user) %>
      </div>
    </div>
  </div>
  <h5 class="my-5"><%= @end_user.name%>さんの猫ちゃん</h5>
  <div class="row mt-5">
    <div class="col-10 offset-1">
      <%= render "public/cats/index", cats: @cats %>
      <div class="d-flex justify-content-end">
        <% if @end_user == current_end_user %>
          <%= link_to "猫登録", new_cat_path, class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h5 class="my-5"><%= @end_user.name%>さんの投稿</h5>
      <%= render "public/posts/index", posts: @posts %>
    </div>
  </div>
</div>