<% posts.each do |post| %>
  <div class="card">
    <%= link_to post_path(post) do %>
      <%= image_tag post.get_image(150,150), class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <%= link_to cat_path(post.cat) do %>
            <%= image_tag post.cat.get_cat_image(100,100), class: "mt-3 rounded-circle" %>
            <%= post.cat.name %>
          <% end %>
          <div class="bookmark-<%= post.cat_id %>">
            <%= render "public/bookmarks/bookmarks_btn", cat: post.cat %>
          </div>
        </div>
        <div class="col-8">
          <p class="card-title">
            <%= link_to post_path(post), class: "text-dark" do %>
              <strong><%= post.title %></strong>
            <% end %>
          </p>
          <p>
            <%= render "public/posts/tag_link", post: post %>
          </p>
          <div class="like-<%= post.id %>">
            <%= render "public/likes/likes_btn", post: post %>
          </div>
          <p><%= post.comments.count %>コメント</p>
          <span><%= post.created_at.strftime('%Y/%m/%d') %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>