<div class="container">
  <h3>新規投稿</h3>
  <%= render "layouts/errors", obj: @post %>
  <div class="row">
    <%= form_with model: @post do |f| %>
    <div class="form-group">
      <%= f.label :image, "画像" %>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body, "本文" %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :cat_id, "猫" %>
      <%= f.collection_select :cat_id, current_end_user.cats, :id, :name, include_blank: "選択してください" %>
    </div>
    <div class="form-group">
      <%= f.label :tag_name, "タグ(複数の場合は,で区切ってください)" %>
      <%= f.text_field :tag_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "投稿する", class: "btn btn-sm btn-primary" %>
    </div>
    <% end %>
  </div>
</div>