<div class="row row-cols-1 row-cols-sm-3">
  <% cats.each do |cat| %>
    <div class="col">
      <div class="card text-center shadow-sm swing h-100">
        <div class="card-header">
          <%= link_to cat_path(cat) do %>
            <%= image_tag cat.get_cat_image(200,200), class: "cat-img cat-img-user" %>
          <% end %>
        </div>
        <div class="py-2">
          <p><%= link_to cat.name, cat_path(cat) %></p>
          <p><%= cat.breed %></p>
          <div class="bookmark-<%= cat.id %>">
            <%= render "public/bookmarks/bookmarks_btn", cat: cat %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center mt-3">
  <%= paginate cats, param_name: "cat_page", theme: 'bootstrap-5' %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<%= javascript_include_tag "card-swing" %>