<table class="table">
  <thead>
    <tr>
      <th class="col-3"></th>
      <th class="col-3 align-middle">名前</th>
      <th class="col-4 align-middle">猫種</th>
      <th class="col-2 align-middle">ブックマーク数</th>
    </tr>
  </thead>
  <tbody>
    <% cats.each do |cat| %>
      <tr>
        <td class="align-middle"><%= image_tag cat.get_cat_image(200,200), class: "cat-img cat-img-post" %></td>
        <td class="align-middle">
          <%= link_to cat_path(cat) do %>
            <%= cat.name %>
          <% end %>
        </td>
        <td class="align-middle"><%= cat.breed %></td>
        <td class="align-middle bookmark-<%= cat.id %>">
          <%= render "public/bookmarks/bookmarks_btn", cat: cat %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= paginate cats, theme: 'bootstrap-5' %>
</div>
