<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>猫種</th>
    </tr>
  </thead>
  <tbody>
    <% cats.each do |cat| %>
      <tr>
        <td><%= image_tag cat.get_cat_image(100,100), class: "rounded-circle" %></td>
        <td>
          <%= link_to cat_path(cat) do %>
            <%= cat.name %>
          <% end %>
        </td>
        <td><%= cat.breed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate cats %>
</div>
