<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="mt-5">ランキング</h3>
      <p>ブックマーク数のランキング</p>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th class="align-middle">名前</th>
            <th class="align-middle">猫種</th>
            <th class="align-middle">ブックマーク数</th>
            <th class="align-middle">投稿数</th>
          </tr>
        </thead>
        <tbody>
          <% num = 1 %>
          <% @cats.each do |cat| %>
            <tr>
              <td><%= num %></td>
              <td class="align-middle"><%= image_tag cat.get_cat_image(200,200), class: "cat-img cat-img-post" %></td>
              <td class="align-middle">
                <%= link_to cat_path(cat) do %>
                  <%= cat.name %>
                <% end %>
              </td>
              <td class="align-middle"><%= cat.breed %></td>
              <td class="align-middle"><%= cat.bookmarks.count %>ブックマーク</td>
              <td class="align-middle"><%= cat.posts.count %>投稿</td>
            </tr>
            <% num += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>