<ul class="slider">
  <li><%= image_tag "top/top-img1.jpg" %></li>
  <li><%= image_tag "top/top-img2.jpg" %></li>
  <li><%= image_tag "top/top-img3.jpg" %></li>
  <li><%= image_tag "top/top-img4.jpg" %></li>
  <li><%= image_tag "top/top-img5.jpg" %></li>
</ul>

<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<%= javascript_include_tag 'top-slick' %>