<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-lg-8 col-xl-6 fadeInTrrigerOnce">
      <h1 class="my-5">ようこそ推し猫へ！！</h1>
      <p>推し猫では、みんなが投稿した猫を見たり、</p>
      <p>自分が飼っている猫を投稿することができます。</p>
      <p>あなたも猫を見たり、投稿したりしてみませんか？</p>
      <div class="btn-wrapper col-11 col-sm-10 col-lg-8 col-xl-6 mt-5">
        <div class="row">
          <%= link_to "ログイン",new_end_user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %>
        </div>
        <div class="row">
          <%= link_to "新規登録",new_end_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
        </div>
      </div>
    </div>
  </div>

  <!-- slickを使ったスライドショー表示 -->
  <div class="row mt-5">
    <%= render "top_slick" %>
  </div>

  <h3 class="my-5">お勧めの猫</h3>
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row row-cols-1 row-cols-sm-3">
        <% @rand_cats.each do |cat| %>
          <div class="col">
            <div class="card text-center pt-2 mb-2 shadow-sm swing">
              <%= link_to cat_path(cat) do %>
                <%= image_tag cat.get_cat_image(200,200), class: "cat-img cat-img-user" %>
              <% end %>
              <p class="mt-2"><%= cat.name %></p>
              <p>
                ブックマーク数:
                <%= cat.bookmarks.count %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <h3 class="my-5">最近の投稿</h3>
  <div class="row row-cols-1 row-cols-lg-3">
      <% @posts.each do |post| %>
        <div class="col mb-2">
          <div class="card h-100 shadow-lg swing">
            <%= image_tag post.get_image(800,600), class: "card-img-top" %>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="d-flex justify-content-center">
                    <%= link_to cat_path(post.cat) do %>
                      <%= image_tag post.cat.get_cat_image(200,200), class: "cat-img cat-img-user" %>
                      <p class="text-center mt-2"><%= post.cat.name %></p>
                    <% end %>
                  </div>
                </div>
                <div class="col-8">
                  <p><%= post.title %></p>
                  <p><%= post.likes.count %>いいね</p>
                  <p><%= post.comments.count %>コメント</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<%= javascript_include_tag "card-swing" %>
<%= javascript_include_tag "public-top" %>