<div class="container">
  <h3 class="my-5">ユーザー詳細</h3>
  <div class="row">
    <div class="col-10">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="col-3 align-middle">ユーザーID</td>
            <td class="align-middle"><%= @end_user.id %></td>
          </tr>
          <tr>
            <td class="align-middle">ユーザー名</td>
            <td class="align-middle"><%= @end_user.name %></td>
          </tr>
          <tr>
            <td class="align-middle">メールアドレス</td>
            <td class="align-middle"><%= @end_user.email %></td>
          </tr>
          <tr>
            <td class="align-middle">ステータス</td>
            <% if @end_user.is_deleted == false %>
              <td class="text-success">有効</td>
            <% else %>
              <td class="text-secondary">退会</td>
            <% end %>
          </tr>
          <tr>
            <td class="align-middle">自己紹介</td>
            <td class="text-break align-middle"><%= @end_user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <%= link_to "編集する", edit_admin_end_user_path(@end_user), class: "btn btn-success" %>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <%= link_to "#{@end_user.name}さんの投稿一覧へ", admin_end_user_posts_index_path(@end_user) %>
      </div>
    </div>
  </div>
  <h5 class="my-5"><%= @end_user.name%>さんの猫ちゃん</h5>
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row row-cols-1 row-cols-sm-3">
        <% @cats.each do |cat| %>
          <div class="col">
            <div class="card text-center">
              <div class="card-header">
                <%= image_tag cat.get_cat_image(200,200), class: "cat-img cat-img-user" %>
              </div>
              <div class="py-2">
                <%= cat.name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <%= paginate @cats,  theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>