<div class="container">
  <div class="row">
    <div class="col">
      <h3>ログイン</h3>
      <%= form_with model: @end_user, url: end_user_session_path do |f| %>
        <div class="form-group">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><%= f.label :email, "メールアドレス" %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :password, "パスワード" %></td>
                <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
      <h3>登録がお済み出ない方</h3>
      <p><%= link_to "こちら", new_end_user_registration_path %>から新規登録を行ってください。</p>
    </div>
  </div>
</div>