<div class="container">
  <h3 class="my-5">ログイン</h3>
  <div class="row mx-auto">
    <div class="col-10">
      <%= form_with model: @end_user, url: end_user_session_path do |f| %>
        <%= render "layouts/errors", obj: @end_user %>
        <div class="form-group">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><%= f.label :email, "メールアドレス" %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :password, "パスワード" %></td>
                <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  
  <h3 class="my-5">登録がお済み出ない方</h3>
  <div class="row mx-auto">
    <div class="col-10">
      <h5><%= link_to "こちら", new_end_user_registration_path %>から新規登録を行ってください。</h5>
      <p class="mt-5">ゲストログインもご利用いただけます。</p>
      <%= link_to "ゲストログイン(閲覧用)", end_users_guest_sign_in_path, method: :post, class: "btn btn-sm btn-block btn-secondary sign_in mb-3" %>
    </div>
  </div>

</div>