<!DOCTYPE html>
<html>
  <head>
    <title>OshiNeko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0e2769a502.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render "layouts/header" %>
    <main class="mb-auto">
      <%= render "layouts/flash" %>
      <%= yield %>
      <span id="back">
        <%= link_to "#" do %>
          <i class="fa-solid fa-paw"></i>
        <% end %>
      </span>
    </main>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "top-button" %>
  </body>
</html>
